@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.auto-grid {
    --min-column-size: 22rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

.menu-appear {
    transform-origin: top;
    animation: 0.3s 1 normal appear;
}

@keyframes appear {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
}

img {
    width: 100%;
}

main {
    scrollbar-width: none;
}
